<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p class="text-muted">Now that you know me a little better, I'd love to connect with you. Here's how you can reach me.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">
                <a href="mailto:kvierrab@gmail.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>kvierrab@gmail.com</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://github.com/katherinsb">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>katherinsb</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="https://www.linkedin.com/in/katherine-sierra/">
                    <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>katherine-sierra</p>
                </a>
            </div>
        </div>
    </div>
</section>
