<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                Exploring ideas.<br>
                Building purpose.<br>
                Sharing the journey.
            </h1>
            <hr>
            <p class="intro-text">Hi, I'm Katherine — a systems and computing engineer who believes in the beauty of constant evolution. Each project, line of code, and challenge is a new chance to connect with what drives me: curiosity, creativity, and meaningful impact. This digital space is where I experiment, learn, and grow — one step at a time.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
