<!-- Technical Expertise -->
<section class="content-section text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Technical Expertise</h3>
            <h2 class="section-heading">Tech Stack & Tools</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-desktop"></i>
                </span>
                <h4>
                    <strong>Technical Expertise</strong>
                </h4>
                <p class="text-dark mb-0">Our tech stack includes Ruby, Python, Cucumber, Selenium, k6, Allure, Docker, Jenkins, Postman, and AI-powered solutions for intelligent testing and performance analysis.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-refresh"></i>
                </span>
                <h4>
                    <strong>Continuously Updated</strong>
                </h4>
                <p class="text-dark mb-0">We keep our test suites and tools up to date with the latest best practices and integrations, ensuring optimal compatibility and performance.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-heart"></i>
                </span>
                <h4>
                    <strong>Passion-Driven Quality</strong>
                </h4>
                <p class="text-dark mb-0">We're passionate about software quality and believe in creating solutions that not only work—but make a real impact.</p>
            </div>
        </div>
    </div>
</section>
